{
  "parser": "babel-eslint",
  "env": {
    "browser": true,
    "node": true
  },
  "extends": [ "airbnb" ],
  "rules": {
    "react/jsx-filename-extension": [
      "error",
      { "extensions": [ ".js", ".jsx" ] }
    ],
    "linebreak-style": "off",
    "import/order": [
      "error"
    ]
  },
  "settings": {
    "import/resolver": {
      "node": {
        "paths": [ "src" ]
      }
    }
  }
}
